/* Global Image Fix */

img{
    max-width:100%;
    display:block;
}

/* Playlist */

#playlist{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.song{
    display:flex;
    align-items:center;
    gap:15px;
    background:#181818;
    padding:15px;
    border-radius:15px;
    cursor:pointer;
    transition:.3s;
}

.song:hover{
    background:#282828;
    transform:translateX(6px);
}

.song.active{
    border:2px solid #1DB954;
}

.song img{
    width:60px;
    height:60px;
    flex-shrink:0;
    object-fit:cover;
    border-radius:10px;
}

.song-info{
    flex:1;
}

.song-info h3{
    margin-bottom:6px;
}

.song-info p{
    color:#aaa;
    font-size:14px;
}

/* Player */

.player{
    background:#181818;
    border-left:1px solid #222;
    padding:30px;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.player img{
    width:180px;
    height:180px;
    object-fit:cover;
    border-radius:15px;
    margin-bottom:20px;
    box-shadow:0 10px 25px rgba(0,0,0,.4);
}

.player h2{
    margin-bottom:8px;
}

.player p{
    color:#bbb;
    margin-bottom:5px;
}

/* Mobile */

@media(max-width:1000px){

    .app{
        display:block;
        overflow-y:auto;
    }

    .sidebar{
        display:none;
    }

    .main{
        padding:20px;
    }

    .player{
        border:none;
        padding:20px;
    }

    .player img{
        width:140px;
        height:140px;
    }

    .song img{
        width:50px;
        height:50px;
    }
}
